@import url('https://fonts.googleapis.com/css2?family=Russo+One:wght@200;300;400;500;600;700&family=Fira+Sans:wght@200;300;400;500;600;700&family=Rubik+Dirt&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

:root {
  --mermaid-edge-color: black;
}

body, section, header {
  background-color: white !important;
}

#quarto-document-content {
  font-family: "Fira Sans", Georgia, "Times New Roman", Times, serif;
  font-size: 15pt;
  margin-bottom: 20vh;
  padding-bottom: 10vh;
  z-index: 1;
}

#quarto-document-content h1 {
  font-family: "Russo One", "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 1;
}

.cr-section {
  background-color: transparent !important;
}

.cr-section .sticky-col {
  padding-left: 30px;
  padding-right: 30px;
}

.cr-section.sidebar-left .sticky-col {
  padding-left: 30px;
  padding-right: 30px;
}

.cr-section.sidebar-left .narrative-col {
  background-color: transparent;
  font-family: "Fira Sans";
  min-width: 40svw;
  padding-left: 80px;
}

/* Override the padding for the first block */
.cr-section.cr-section.sidebar-left .narrative-col > *:first-child {
  padding-block-start: 40svh;
}

.cr-section.overlay-center .narrative-col .narrative {
  background-color: rgba(0, 0, 0, 0.85);
  color: rgb(255, 255, 255);
  font-family: "Oswald";
  font-size: 1.5rem;
  text-align: center;
  min-width: 50svw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Override the padding for the first block */
.cr-section.overlay-center .narrative-col > *:first-child {
  padding-block-start: 50svh;
}

.cr-section.overlay-center .narrative-col .trigger .narrative {
  padding: 0em;
}

.cr-section.overlay-center .narrative-col .trigger .narrative p {
  padding: 1% !important;
}

#info {
  background-color:linen !important;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 40vh; 
  bottom: 0;
}

#info p {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 1.1rem;
  margin: 0;
  position: relative;
  display: flexbox;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hl {
  color: white;
  font-weight: 400;
  padding: 0.05rem 0.25rem;
  line-height: 1.8;
}

.hl-blue { background-color: cornflowerblue; }
.hl-red { background-color: firebrick; }
.hl-cyan { background-color: darkcyan; }
.hl-green { background-color: darkolivegreen }
.hl-brown { background-color: peru }

.tbl-classic th {
  border-top: 5px solid #000 !important;
}
  
.tbl-classic tbody {
  border-top: 2px solid #000 !important;
  border-bottom: 5px solid #000 !important;
}

.tbl-smaller th, td, tr, tbody {
  font-size: 1rem !important;
}

.tbl-tip th, td, tr, tbody {
  font-size: 0.8rem !important;
  font-family: "Roboto Slab";
}

.tbl-note {
  font-size: 0.9rem;
  font-weight: 100;
}

.iconlist ul {
  list-style: none;
  text-indent: -1.4rem;
  padding-left: 5rem;
}

.lflabel {
  font-family: "Oswald";
  font-size: 0.9rem !important;
}

/* mobile sizing (bootstrap: xs) is always overlay-center */
@media (max-width: 576px) {
  #quarto-document-content h1 {
    font-size: 2.5em;
    line-height: 1;
  }

  .cr-section.sidebar-left .narrative-col,
  .cr-section.sidebar-right .narrative-col,
  .cr-section.overlay-left .narrative-col,
  .cr-section.overlay-right .narrative-col,
  .cr-section.overlay-center .narrative-col {
    background-color: transparent;
  }

  .cr-section.sidebar-left .narrative-col .narrative > *,
  .cr-section.sidebar-right .narrative-col .narrative > *,
  .cr-section.overlay-left .narrative-col .narrative > *,
  .cr-section.overlay-right .narrative-col .narrative > *,
  .cr-section.overlay-center .narrative-col .narrative > * {
    background-color: rgba(255, 255, 255, .9);
    padding: 5px;
    color: black;
    font-family: "Oswald";
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    min-width: 50svw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cr-section .narrative-col .trigger .narrative {
    padding: 0em;
  }

  #info p {
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .tbl-smaller th, td, tr, tbody {
    font-size: 0.7rem !important;
  }

  .tbl-note {
    font-size: 0.7rem;
  }
}
